/*
COLORS
light grey: #c2c1c1
medium grey: #606060
dark grey: #3c3c3c
green: #59b947
blue: #5784c3
purple: #8955a2
yellow: #fcb315
*/
.greenCard {
    background-color: #59b947;
}
.blueCard {
    background-color: #5784c3;
}
.purpleCard {
    background-color: #8955a2;
}
.yellowCard {
    background-color: #fcb315;
}
.lightgreyCard {
    background-color: #c2c1c1;
}
.view-card.greenCard {
    background-color: #59b947;
}
.view-card.blueCard {
    background-color: #5784c3;
}
.view-card.purpleCard {
    background-color: #8955a2;
}
.view-card.yellowCard {
    background-color: #fcb315;
}
.view-card.lightgreyCard {
    background-color: #c2c1c1;
}
