.modal-bg {
    display: flex;
    flex-direction: column;
/*    background-color: blue;*/
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: space-around;
    top: 0;
}
.modal-container {
    display: flex;
    justify-content: center;
/*
    position: fixed;
    top: 0;
    width: 100%;
*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.25);*/
}

.modal-card {
    display: flex;
    flex-direction: column;

/*    height: 500px;*/
    align-items: center;
    border: 5px solid black;
    word-break: break-word;
    justify-content: flex-start;
/*    margin-top: 50px;*/
    background-color: lightgrey;
    -moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}
.modal-card-close {
/*    margin-top: 35px;*/
/*    width: 65px;*/
}
.modal-card-close-img {
    width: 100%;
}
.modal-card-colorselect {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    max-width: 160px;
    height: 45px;
}
.modal-card-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
/*    background-color: orange;*/
    margin-top: 29px;
}
.modal-card-type {

/*    background-color: yellow;*/
    text-align: center;
    align-self: center;
    word-break: normal;
    text-transform: uppercase;
    overflow: hidden;
    width: 20%;
    
    padding: 0px 0px;
    outline: none;
    background-color: rgba(255,255,255,0);
    border: none;
}
.modal-card-title {

/*    background-color: green;*/
    text-align: center;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 60%;
    overflow: hidden;
    
    padding: 0px 0px;
    outline: none;
    background-color: rgba(255,255,255,0);
    border: none;
}
.modal-card-number {

/*    background-color: blue;*/
    text-align: center;
    align-self: center;
    word-break: normal;
    text-transform: uppercase;
    overflow: hidden;
    width: 20%;
    
    padding: 0px 0px;
    outline: none;
    background-color: rgba(255,255,255,0);
    border: none;
}
.modal-card-image-container {
    margin-top: 26px;
    width: 80%;
}
.modal-card-image {
    width: 100%;
}
.modal-card-desc {

    width: 75%;
    margin-top: 18px;
/*    background-color: purple;*/
/*    text-align: center;*/
    
    padding: 0px 0px;
    outline: none;
    background-color: rgba(255,255,255,0);
    border: none;
    text-align: center;
    resize: none;
    margin-bottom: 26px;
}
.modal-card-submit {
    width: 80%;
    height: 50px;
}


