/*
COLORS
light grey: #c2c1c1
medium grey: #606060
dark grey: #3c3c3c
green: #59b947
blue: #5784c3
purple: #8955a2
yellow: #fcb315
*/

/*font face*/
@font-face {
    font-family: troika;
    src: url(./fonts/troika.otf);
}

body {
/*    background-color: lightblue;*/
}

.container {
/*    background-color: lightcoral;*/
}

.top {
    height: 120px;
/*    background-color: lightgoldenrodyellow;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile {
/*    background-color: red;*/
}

.profile-name {
    
}

.profile-pic {
    width: 50px;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
/*    background-color: blue;*/
    font-size: 52px;
    
}

.logout {
/*    background-color: green;*/
}

.sections {
    display: flex;
/*    background-color: lightgreen;*/
    justify-content: space-around;
    flex-flow: row nowrap;
    margin-bottom: 33px;
    margin-top: 7px;
}

.section-text {
    
}

.section-button {
    width: 100%;
    font-size: 38px;
    font-family: troika;
    outline: 0;
    cursor: pointer;
    background: none;
    border: none;

}

.middle {
/*    height: 500px;*/
    display: flex;
/*    background-color: lightpink;*/
    flex-flow: row nowrap;
}

.new {
    flex-basis: 43%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
/*    background-color: aqua;*/
    align-content: flex-start;
}

.new-divider-1 {
    padding-bottom: 8px;
}

.new-card {
    margin: 5px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 80px;
    align-items: center;
    border: 1px solid black;
    word-break: break-word;
    max-height: 200px;
}

.new-card-top {
    display: flex;
    width: 100%;
    justify-content: center;
/*    background-color: red;*/
    height: 10%;
    margin-top: 3px;
}

.new-card-type {
    font-size: 4px;
/*    background-color: blue;*/
    margin-left: 1px;
    text-align: center;
    align-self: center;
    word-break: normal;
    text-transform: uppercase;
    overflow: hidden;
    width: 15%;
}

.new-card-title {
    font-size: 6px;
    text-align: center;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 52%;
    overflow: hidden;
/*    background-color: yellow;*/
}

.new-card-number {
    font-size: 4px;
/*    background-color: purple;*/
    margin-right: 1px;
    text-align: center;
    align-self: center;
    word-break: normal;
    overflow: hidden;
    width: 15%;
}

.new-card-image {
    max-width: 50px;
    max-height: 50px;
/*    align-self: center;*/
}

.new-card-desc {
    font-size: 4px;
/*
    margin: 5px 0;
    padding: 5px;
*/
    height: 15%;
/*    max-height: 52px;*/
    overflow: hidden;

/*    background-color: pink;*/
    line-height: 5px;
    width: 79%;
    margin-top: 3px;
}

.bytype {
    flex-basis: 42%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
/*    background-color: aqua;*/
}

.divider {
    width: 100%;
/*    background-color: green;*/
    text-align: center;
    font-size: 21px;
/*    max-height: 10px;*/
}

.bytype-divider-1 {
    padding-bottom: 8px;
}

.bytype-divider-2 {
    padding: 21px;
}

.bytype-divider-3 {
    padding: 21px;
}

.bytype-card {
    margin: 5px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 100px;
    align-items: center;
    border: 1px solid black;
    word-break: break-word;
    justify-content: center;
}

.bytype-card-top {
    display: flex;
    width: 100%;
    justify-content: center;
/*    background-color: red;*/
    height: 10%;
    margin-top: 3px;
}

.bytype-card-type {
    font-size: 6px;
/*    background-color: blue;*/
    margin-left: 1px;
    text-align: center;
    align-self: center;
    word-break: normal;
    text-transform: uppercase;
    overflow: hidden;
    width: 15%;
}

.bytype-card-title {
    font-size: 8px;
    text-align: center;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 52%;
    overflow: hidden;
/*    background-color: yellow;*/
}

.bytype-card-number {
    font-size: 6px;
/*    background-color: green;*/
    margin-right: 1px;
    text-align: center;
    align-self: center;
    word-break: normal;
    overflow: hidden;
    width: 15%;
}

.bytype-card-image {
    max-width: 64px;
    max-height: 64px;
/*    align-self: center;*/
}

.bytype-card-desc {
    font-size: 6px;
/*
    margin: 5px 0;
    padding: 5px;
*/
    height: 20%;
/*    max-height: 52px;*/
    overflow: hidden;

/*    background-color: pink;*/
    line-height: 7px;
    width: 79%;
}

.add {
    display: flex;
    height: 100%;
    flex-basis: 15%;
    flex-direction: column;
/*    background-color: brown;*/
}

.add-divider-1 {
    padding-bottom: 8px;
}

.add-button {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    font-size: 52px;
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
/*    background-color: orange;*/
}




/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 20px; /* .push must be the same height as .footer */
}







/*card colors*/
.greenCard {
    background-color: #59b947;
}

.blueCard {
    background-color: #5784c3;
}

.purpleCard {
    background-color: #8955a2;
}

.yellowCard {
    background-color: #fcb315;
}

.lightgreyCard {
    background-color: #c2c1c1;
}












/*utility classes*/

.nowrap {
    white-space: nowrap;
}

.textcenter {
    text-align: center;
}














/*media queries*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
    
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
    
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    .sections {
        align-items: center;
        flex-flow: column nowrap;
    }
    .middle {
        flex-flow: column nowrap;
    }
    .profile {
        display: none;
    }
    .logout {
        display: none;
    }
    .top {
        justify-content: center;
    }
}



/* really small screens */
@media only screen and (max-width : 350px){
    .logo {
/*        font-size: 28px;*/
    }
}

@media only screen and (max-width : 280px){
    .logo {
        font-size: 30px;
    }
    .section-button {
        font-size: 30px;
    }
}
