.nowrap {
    white-space: nowrap;
}
.textcenter {
    text-align: center;
}
.black-placeholders:placeholder-shown {
  color: black;
}
.black-placeholders::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: black;
}
.black-placeholders:-moz-placeholder { /* Firefox 18- */
  color: black;
}
.black-placeholders::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
.black-placeholders:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
.black-placeholders::-ms-input-placeholder { /* Edge */
  color: black;
}
.black-placeholders:placeholder-shown { /* Standard one last! */
  color: black;
}

.ui-button {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    color: #000000;
    background: #bdbdbd;
    //  padding: 10px 20px 10px 20px;
    border: solid #adadad 2px;
    text-decoration: none;
}
.ui-button:hover {
    background: #adadad;
    text-decoration: none;
}