<div class="add-modal-container" ng-show="modalOpen">
    <div class="add-card {{myColor}}Card">
        <div class="add-card-close" ng-click="switchModal()">
            <img class="add-card-close-img" src="img/close.png">
        </div>
        <select class="add-card-colorselect" ng-model="myColor">
            <option value="grey">Grey</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
        </select>
        <div class="add-card-top">
            <input class="add-card-type black-placeholders" type="text" placeholder="TYP" ng-model="myType">
            <input class="add-card-title black-placeholders" type="text" placeholder="new" ng-model="title">
            <p class="add-card-number">
                <input class="add-card-number black-placeholders" type="text" placeholder="0" ng-model="myAttack">/<input class="add-card-number black-placeholders" type="text" placeholder="0" ng-model="myDefense">
            </p>
        </div>
        <div class="add-card-image-container">
<!--            <img class="add-card-image" src="img/placeholder.png" alt="card image">-->
       
       

    <div class="file" ng-repeat="file in files">
<!--        <h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>-->
<!--        <div class="status">{{file.status}}</div>-->
        <div class="progress-bar">
          <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
        </div>

                    <img class="add-card-image" ngf-src="file.result.url || file">
<!--
        <div class="info">
          <table>
            <tr ng-repeat="(key, value) in file.result">
              <td> {{key}} </td> <td> {{ value }} </td>
            </tr>
          </table>
        </div>
-->
    </div>
      
      
      
       <div class="textcenter" href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true" >
           <img class="add-card-image" src="../public/img/placeholder.png">
       </div>
       
       
        </div>
<!--
        <p class="add-card-desc">
            {{myDesc}}
        </p>
-->
        <textarea class="add-card-desc black-placeholders" name="" maxlength="140" rows="5" cols="1" placeholder="description" ng-model="myDesc" required></textarea>
        <button class="add-card-submit" ng-click="saveCard()">Save</button>
    </div>
</div>
  
  
  
   

<div class="middle">
    <div class="new">
        <div class="divider new-divider-1">
        Newest 20
        </div>
        <!--ng-repeat this for 20 cards-->
        <div class="new-card {{card.cardColor}}Card" ng-repeat="card in cards | limitTo:newAmount">
            <div class="new-card-top">
                <p class="new-card-type">
                    {{card.cardType}}
                </p>
                <p class="new-card-title">
                    {{card.cardName}}
                </p>
                <p class="new-card-number">
                    {{card.cardAttack}}/{{card.cardDefense}}
                </p>
            </div>
            <img class="new-card-image" src="img/placeholder.png" alt="card image">
            <p class="new-card-desc">
                {{card.cardDesc}}
            </p>
        </div>
    </div>
    <div class="bytype">
        <div class="divider bytype-divider-1">
            Newest by rarity (4)
        </div>
        <!--newest green-->
        <div class="bytype-card {{card.cardColor}}Card" ng-repeat="card in cards | filter:{cardColor: 'green'} | orderBy:'createTime':true | limitTo:1">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    {{card.cardType}}
                </p>
                <p class="bytype-card-title">
                    {{card.cardName}}
                </p>
                <p class="bytype-card-number">
                    {{card.cardAttack}}/{{card.cardDefense}}
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
                {{card.cardDesc}}
            </p>
        </div>
        <!--newest blue-->
        <div class="bytype-card {{card.cardColor}}Card" ng-repeat="card in cards | filter:{cardColor: 'blue'} | orderBy:'createTime':true | limitTo:1">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    {{card.cardType}}
                </p>
                <p class="bytype-card-title">
                    {{card.cardName}}
                </p>
                <p class="bytype-card-number">
                    {{card.cardAttack}}/{{card.cardDefense}}
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
                {{card.cardDesc}}
            </p>
        </div>
        <!--newest yellow-->
        <div class="bytype-card {{card.cardColor}}Card" ng-repeat="card in cards | filter:{cardColor: 'yellow'} | orderBy:'createTime':true | limitTo:1">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    {{card.cardType}}
                </p>
                <p class="bytype-card-title">
                    {{card.cardName}}
                </p>
                <p class="bytype-card-number">
                    {{card.cardAttack}}/{{card.cardDefense}}
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
                {{card.cardDesc}}
            </p>
        </div>
        <!--newest purple-->
        <div class="bytype-card {{card.cardColor}}Card" ng-repeat="card in cards | filter:{cardColor: 'purple'} | orderBy:'createTime':true | limitTo:1">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    {{card.cardType}}
                </p>
                <p class="bytype-card-title">
                    {{card.cardName}}
                </p>
                <p class="bytype-card-number">
                    {{card.cardAttack}}/{{card.cardDefense}}
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
                {{card.cardDesc}}
            </p>
        </div>
        <div class="divider bytype-divider-2">
            Highest Rated
        </div>
        <!--ng-repeat this for X cards-->
        <div class="bytype-card {{card.cardColor}}Card" ng-repeat="card in cards | orderBy:'-cardTotal' | limitTo:ratedAmount">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    {{card.cardType}}
                </p>
                <p class="bytype-card-title">
                    {{card.cardName}}
                </p>
                <p class="bytype-card-number">
                    {{card.cardAttack}}/{{card.cardDefense}}
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
                {{card.cardDesc}} 
            </p>
        </div> 
    </div>
    <div class="add">
        <div class="divider add-divider-1">
            Make
        </div>
        <button class="add-button" ng-click="switchModal()">
            +
        </button>
    </div>    
</div>
