<div class="middle">
    <div class="new">
        <div class="divider new-divider-1">
        Newest 20
        </div>
        <!--ng-repeat this for 20 cards-->
        <div class="new-card" ng-repeat="card in twentycards track by $index">
            <div class="new-card-top">
                <p class="new-card-type">
                    TYP
                </p>
                <p class="new-card-title">
                    Card Title
                </p>
                <p class="new-card-number">
                    0/0
                </p>
            </div>
            <img class="new-card-image" src="img/placeholder.png" alt="card image">
            <p class="new-card-desc">
                The card description goes here
            </p>
        </div>
    </div>
    <div class="bytype">
        <div class="divider bytype-divider-1">
            Newest by rarity (4)
        </div>
        <!--ng-repeat this for 4 cards-->
        <div class="bytype-card" ng-repeat="card in fourcards track by $index">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    TYP
                </p>
                <p class="bytype-card-title">
                    Card Title
                </p>
                <p class="bytype-card-number">
                    0/0
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
                The card description goes here
            </p>
        </div>
        <div class="divider bytype-divider-2">
            Newest by __________
        </div>
        <!--ng-repeat this for X cards-->
        <div class="bytype-card" ng-repeat="card in tencards track by $index">
            <div class="bytype-card-top">
                <p class="bytype-card-type">
                    TYP
                </p>
                <p class="bytype-card-title">
                    Card Title
                </p>
                <p class="bytype-card-number">
                    0/0
                </p>
            </div>
            <img class="bytype-card-image" src="img/placeholder.png" alt="card image">
            <p class="bytype-card-desc">
            The card description goes here 
            </p>
        </div> 
    </div>
    <div class="add">
        <div class="divider add-divider-1">
            Make
        </div>
        <button class="add-button">
            +
        </button>
    </div>
</div>
