

<div class="">

    <h1>my cards</h1>

    <div class="bytype-card {{card.cardColor}}Card" ng-repeat="card in myCards" ng-click="switchViewModal(card)">
        <div class="bytype-card-top">
            <p class="bytype-card-type">
                {{card.cardType}}
            </p>
            <p class="bytype-card-title">
                {{card.cardName}}
            </p>
            <p class="bytype-card-number">
                {{card.cardAttack}}/{{card.cardDefense}}
            </p>
        </div>
        <img class="bytype-card-image" ng-src="{{card.cardImgSmall}}" alt="card image">
        <p class="bytype-card-desc">
            {{card.cardDesc}} 
        </p>
    </div> 




</div>