<h1>create user</h1>
<p>scope.message:  {{message}}</p>
<input type="email" name="" placeholder="email" ng-model="signupEmail">
<input type="password" name="" placeholder="password" ng-model="signupPassword">
<button type="submit" ng-click="createUser();">create user</button>



<p>login</p>
<p>scope.test:  {{test}}</p>
<input type="email" name="" placeholder="email" ng-model="loginEmail">
<input type="password" name="" placeholder="password" ng-model="loginPassword">
<button type="submit" ng-click="login();">login</button>

<!--<button type="submit" ng-click="();">button</button>-->