<div ng-include="'../shared/top.html'"></div>
<div ng-include="'../shared/sections.html'"></div>

<div class="login-container">
    <a href="#/make">bypass login</a> <br><br>
    <button type="submit" ng-click="github();">github</button>
    <p>login</p>
    <input type="email" name="loginEmail" placeholder="email" ng-model="loginEmail" required>
    <p>{{loginEmail}}</p>
    <input type="password" name="loginPassword" placeholder="password" ng-model="loginPassword" required>
    <p>{{loginPassword}}</p>
    <button type="submit" ng-click="login();">login</button>
    <p>signup</p>
    <input type="text" name="signupName" placeholder="first name" ng-model="signupName" required>
    <p>{{signupName}}</p>
    <input type="email" name="signupEmail" placeholder="email" ng-model="signupEmail" required>
    <p>{{signupEmail}}</p>
    <input type="password" name="signupPassword" placeholder="password" ng-model="signupPassword" required>
    <p>{{signupPassword}}</p>
    <button type="submit" ng-click="signup();">signup</button> <br><br>
</div>

<div ng-include="'../shared/footer.html'"></div>
