<!DOCTYPE html>
<html lang="en" ng-app="cardTrader">
<head>
  <% include ../partials/header.ejs %>
</head>
<body ng-controller="mainCtrl">
    <!----------->
    <!--profile-->
    <!----------->
<!--
    <div class="profile-circle">
       <img src="{{ userData.github.profileImageURL }}" class="profile-pic">
    </div>
    <div ng-repeat="user in userData">
        <p class="profile-name">hello {{ userData.github.displayName }}</p>
    </div>
-->
    <!-------->
    <!--logo-->
    <!-------->
<!--
    <div class="logo">
        <img src="images/logo.png">
    </div>
-->
    <!---------->
    <!--logout-->
    <!---------->
<!--
    <div class="logout-button" ng-click="ghLogin()">
        <a href="#/logout">login</a>
    </div>
-->
    <!-------->
    <!--body-->
    <!-------->
<!--    <div class="row">-->
        <!------------------------->
        <!--all new cards section-->
        <!------------------------->
        
        
        
        
        
    <!------------------>
    <!--MAIN CONTAINER-->
    <!------------------>
        <div class="container">
        <div class="top">
            <div class="profile">
                profile
            </div>
            <div class="logo">
                <p class="nowrap">Card Trader</p>
            </div>
            <div class="logout">
                logout
            </div>
        </div>
        <div class="sections">
            <div class="section-text">
                <button class="section-button">
                    MAKE
                </button>
            </div>
            <div class="section-text">
                <button class="section-button">
                    BATTLE
                </button>
            </div>
            <div class="section-text">
                <button class="section-button">
                    BET
                </button>
            </div>
            <div class="section-text">
                <button class="section-button">
                    TRADE
                </button>
            </div>
        </div>
        <div class="middle">
            <div class="new">
                <div class="divider new-divider-1">
                    Newest 20
                </div>
                
                
                <!--ng-repeat this for 20 cards-->
                <div class="new-card {{card.cardColor}}" ng-repeat="card in cards">
                    <div class="new-card-top">
                        <p class="new-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="new-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="new-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="new-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="new-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                
                
            </div>
            <div class="bytype">
                <div class="divider bytype-divider-1">
                    Newest by rarity (4)
                </div>
                
                
<!--                ADD CARD TEMPLATE COLORS TO CSS!!!-->
                
                <!--NEWEST BY RARITY-->
                <!--green-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'green' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                <!--blue-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'blue' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                <!--purple-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'purple' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                <!--yellow-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'yellow' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                
                
                
                
                
                
                
                

                <div class="divider bytype-divider-2">
                    Newest by __________ (5)
                </div>
                
                
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                

                <div class="divider bytype-divider-3">
                    Newest by __________ (5)
                </div>
                
                
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                
                
            </div>
            <div class="add">
                <div class="divider add-divider-1">
                    Make
                </div>
                <button class="add-button" type="button" data-toggle="modal" data-target="#myModal">
                    +
                </button>
            </div>
        </div>
        
        
        
        
        
        
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content" ng-style="cardBodyColor">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-body">
                        <!--card type-->
                        <input class="add-input add-type" ng-model="cardType" type="text" id="cardTypeInput" placeholder="card type">
                        <!--card attack-->
                        <input class="add-input add-attack" ng-model="cardAttack" type="text" id="cardAttackInput" placeholder="#">
                        <!--number seperator-->
                        <p class="number-seperator">/</p>
                        <!--card defense-->
                        <input class="add-input add-defense" ng-model="cardDefense" type="text" id="cardDefenseInput" placeholder="#">
                        <!--card name-->
                        <input class="add-input add-name" ng-model="cardName" type="text" id="cardNameInput" placeholder="card name">
                        <!--add image-->
                        <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
                        file="image" file-name="imageFileName" data-max-file-size="3">
                            <span class="drop-text">Drop Image Here</span>
                        </div>
                        <div class="image-container">
                            <img ng-src={{image}} />
                        </div>
                        <!--manual add image-->
                        <input class="add-input add-img" ng-model="cardImg" type="text" id="cardImgInput" placeholder="card image url">
                        <!--card description-->
                        <textarea class="add-input add-desc" ng-model="cardDesc" type="text" id="cardDescInput" placeholder="card description"></textarea>
                        <!--card color-->
                        <div class="color-holder">
                            <label>
                            <input type="radio" ng-model="cardColor" value="lightgrey" ng-click="cardBodyColor={'background-color':'#c2c1c1'}">
                            Common
                            </label>
                            <label>
                            <input type="radio" ng-model="cardColor" value="green" ng-click="cardBodyColor={'background-color':'#59b947'}">
                            Uncommon
                            </label>
                            <label>
                            <input type="radio" ng-model="cardColor" value="blue" ng-click="cardBodyColor={'background-color':'#5784c3'}">
                            Rare
                            </label>
                            <label>
                            <input type="radio" ng-model="cardColor" value="purple" ng-click="cardBodyColor={'background-color':'#8955a2'}">
                            Super
                            </label>
                            <label>
                            <input type="radio" ng-model="cardColor" value="yellow" ng-click="cardBodyColor={'background-color':'#fcb315'}">
                            Ultra
                            </label>
                        </div>
                    </div>
                        <button type="button" ng-click="addCard($event)" class="btn btn-default add-button" data-dismiss="modal">add card</button>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
    </div>
    <footer>
        ©cardtrader
    </footer>
</body>
</html>
