<!DOCTYPE html>
<html lang="en" ng-app="cardTrader">
<head>
    <!--inject header tags-->
    <% include ../partials/header.ejs %>
</head>
<body>
    <div ng-view>
    <!--angular renders here-->
    </div>
</body>
    <!--inject script tags-->
    <% include ../partials/scripts.ejs %>
</html>
