        <div class="middle">
            <div class="new">
                <div class="divider new-divider-1">
                    Newest 20
                </div>
                
                
                <!--ng-repeat this for 20 cards-->
                <div class="new-card {{card.cardColor}}" ng-repeat="card in cards">
                    <div class="new-card-top">
                        <p class="new-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="new-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="new-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="new-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="new-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                
                
            </div>
            <div class="bytype">
                <div class="divider bytype-divider-1">
                    Newest by rarity (4)
                </div>
                
                
<!--                ADD CARD TEMPLATE COLORS TO CSS!!!-->
                
                <!--NEWEST BY RARITY-->
                <!--green-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'green' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                <!--blue-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'blue' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                <!--purple-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'purple' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                <!--yellow-->
                <div class="bytype-card {{card.cardColor}}" ng-repeat="card in newestByType | filter:{ cardColor: 'yellow' } | orderBy:'createTime':true | limitTo:1">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            {{card.cardType}}
                        </p>
                        <p class="bytype-card-title">
                            {{card.cardName}}
                        </p>
                        <p class="bytype-card-number">
                            {{card.cardAttack}}/{{card.cardDefense}}
                        </p>
                    </div>
                    <img class="bytype-card-image" src="{{card.cardImg}}" alt="card image">
                    <p class="bytype-card-desc">
                        {{card.cardDesc}}
                    </p>
                </div>
                
                
                
                
                
                
                
                

                <div class="divider bytype-divider-2">
                    Newest by __________ (5)
                </div>
                
                
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                

                <div class="divider bytype-divider-3">
                    Newest by __________ (5)
                </div>
                
                
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                <div class="bytype-card">
                    <div class="bytype-card-top">
                        <p class="bytype-card-type">
                            abc
                        </p>
                        <p class="bytype-card-title">
                            test
                        </p>
                        <p class="bytype-card-number">
                            0/0
                        </p>
                    </div>
                    <img class="bytype-card-image" src="../misc/images/placeholder.png" alt="card image">
                    <p class="bytype-card-desc">
                        test description 
                    </p>
                </div>
                
                
            </div>
            <div class="add">
                <div class="divider add-divider-1">
                    Make
                </div>
                <button class="add-button" type="button" data-toggle="modal" data-target="#myModal">
                    +
                </button>
            </div>
        </div>